h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 38px;
}

table, tr, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}

table {
    display: table;
}

td {
    padding: 10px;
}

#wrapper {
    font: 18px Tahoma;
    margin: 30px auto auto 30px;
}